.App {
  text-align: center;
}


a {
  text-decoration: none;
}

a:visited {
  color: azure;
  padding: 5px;
}
a:link {
  color: azure;
  padding: 5px;
}

li {
  list-style: none;
  text-decoration: none;
}
